<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Menú</ion-list-header>
          <ion-note style="text-align: center;">Tienda Celulares</ion-note>
        


          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <!--(click)="logOut()"-->
                  <ion-button lines="none" expand="block" (click)="logOut()" color="danger"
                  style="margin: 0.70em;
                        margin-top: 1em;">
          <ion-icon slot="start" name="log-out-outline"></ion-icon>
          <ion-label>Cerrar sesión</ion-label>
          </ion-button>
          <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button href="https://web.whatsapp.com/" target="_blank">
             <ion-img src="../../assets/img/ws3.png"></ion-img>
            </ion-fab-button>
          </ion-fab>
         
      </ion-content>

      <ion-item> 
        <ion-note style="text-align: center; font-size: 14px ;">Ing.Gabriel Bassi</ion-note>
        <ion-note style="text-align: center; font-size: 14px ">Aus.Facundo Obelar</ion-note>
      </ion-item>
     
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
